{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie 10"
          ]
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie 10"
          ]
        }
      }
    ]
  ]
}
