# playwright-utils config
IGNORE_HTTPS_ERRORS=false
NGROK_AUTHTOKEN=
WP_BASE_URL='http://mywp.site'
WP_USERNAME=admin	
WP_PASSWORD=password
WP_BASIC_AUTH_USER=
WP_BASIC_AUTH_PASS=
STORAGE_STATE_PATH='./storage-states'
STORAGE_STATE_PATH_ADMIN='./storage-states/admin.json'

WPCLI_ENV_TYPE=wpenv
WPCLI_PATH='.'

# WooCommerce API config
WC_API_KEY=
WC_API_SECRET=

# Mollie
MOLLIE_LIVE_API_KEY=
MOLLIE_TEST_API_KEY=

# Testrail
TESTRAIL_URL=https://mollie.testrail.io
TESTRAIL_USERNAME=
TESTRAIL_PASSWORD=