# playwright-utils config
IGNORE_HTTPS_ERRORS=false
# NGROK_AUTHTOKEN=
WP_BASE_URL='https://test.com'
WP_USERNAME=***
WP_PASSWORD=***
WP_BASIC_AUTH_USER=
WP_BASIC_AUTH_PASS=
STORAGE_STATE_PATH='./storage-states'
STORAGE_STATE_PATH_ADMIN='./storage-states/admin.json'

WPCLI_ENV_TYPE=ssh
WPCLI_PATH=
SSH_LOGIN=
SSH_HOST=
SSH_PORT=
SSH_PATH='~/public/'

# WooCommerce API config
WC_API_KEY=
WC_API_SECRET=

# Mollie
MOLLIE_LIVE_API_KEY=
MOLLIE_TEST_API_KEY=

# Testrail
TESTRAIL_URL=
TESTRAIL_USERNAME=
TESTRAIL_PASSWORD=
TESTRAIL_PLAN_ID=
TESTRAIL_RUN_ID=