PLUGIN_NAME=mollie-wc
BASE_PATH=./
PROJECT_MOUNT_PATH=/var/www/html/wp-content/plugins/mollie-wc
DOCROOT_PATH=/var/www/html
BUILD_ROOT_PATH=/app/
PROJECT_NAME=mollie_mollie-wc
HOST_IP_ADDRESS=172.17.0.1

PHP_BUILD_VERSION=7.4
PHP_TEST_VERSION=5.6
PHP_DEPS_VERSION=5.6

WC_VERSION=3.5.8

DB_ROOT_PASSWORD=root
DB_NAME=wordpress
DB_USER_NAME=wordpress
DB_USER_PASSWORD=Dnp9qg(@DAD97d

WP_DOMAIN=mollie-wc.myhost
WP_TITLE="Mollie Test"

ADMIN_USER=admin
ADMIN_PASS=admin
ADMIN_EMAIL=me@my.com

E2E_AUTH_USERNAME=admin
E2E_AUTH_PW=admin
E2E_URL_TESTSITE=mollie.ddev.site
MOLLIE_LIVE_API_KEY=
MOLLIE_TEST_API_KEY=
