tests export-ignore
coverage export-ignore
patchwork.json export-ignore
.idea.example export-ignore
development export-ignore
docker export-ignore
.env.example export-ignore
.editorconfig export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.travis.yml export-ignore
composer.lock export-ignore
deploy.sh export-ignore
DEVELOPERS.md export-ignore
docker.mk export-ignore
docker-compose.yml export-ignore
docker-sync.yml export-ignore
Makefile export-ignore
phpunit.xml.dist export-ignore
traefix.yml export-ignore
