.DS_Store
.idea
.vscode
/dist
/*.zip
/nbproject
/vendor/
/coverage/
node_modules
/.idea/dataSources.xml
/.idea/docker-compose.xml
/.idea/dictionaries/
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/vagrant.xml
/.ddev/wordpress
/public/js/
/public/css/
/tools/
/build/
/tests/e2e/Shared/default.json
cypress.json
test-results*
playwright-report*
playwright/.cache
playwright-utils
storage-states
test-results*
playwright-wordpress-credentials.json
woocommerce-subscriptions*.zip
mollie-payments-for-woocommerce*.zip
germanized*.zip
.env*
!.env.example*
!package-lock.json
