.DS_Store
/dist
/*.zip
/nbproject
/vendor/
/coverage/
/node_modules/
/.idea
/.idea.example/dictionaries/
/.idea.example/workspace.xml
/.idea.example/tasks.xml
/.idea.example/deployment.xml
/.idea.example/vagrant.xml
/.idea.example/codeStyles/
/public/js/
/public/css/

.env
