.DS_Store
/dist
/*.zip
/nbproject
/vendor/
/coverage/
/node_modules/
/.idea/dictionaries/
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/vagrant.xml
/public/js/
/public/css/
/tools/
/build/
/tests/stub/external/

.env
