<phpunit
        bootstrap="./tests/php/bootstrap.php"
        colors="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="true"
        backupGlobals="true"
        backupStaticAttributes="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
        failOnWarning="false">
    <testsuites>
        <testsuite name="Test">
            <directory suffix="Test.php">./tests/php/Unit/</directory>
            <directory suffix="Test.php">./tests/php/Integration/</directory>
            <directory suffix="Test.php">./tests/php/Functional/</directory>
            <exclude>./tests/php/TestCase.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./inc</directory>
            <directory suffix=".php">./src</directory>
            <file>./</file>
        </whitelist>
    </filter>
</phpunit>
