<phpunit
        bootstrap="./tests/php/bootstrap.php"
        colors="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="true"
        backupGlobals="true"
        backupStaticAttributes="true"
        processIsolation="true"
        stopOnError="false"
        stopOnFailure="false">
    <testsuites>
        <testsuite name="Test">
            <directory suffix="Test.php">./tests/php/Unit/</directory>
            <directory suffix="Test.php">./tests/php/Integration/</directory>
            <directory suffix="Test.php">./tests/php/Functional/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./mollie-payments-for-woocommerce/includes/mollie</directory>
            <file>./</file>
        </whitelist>
    </filter>
    <!--<logging>
        <log type="coverage-clover" target="coverage/report/clover.xml"/>
        <log type="coverage-html" target="coverage/report/html" lowUpperBound="35"
             highLowerBound="70"/>
    </logging>-->
</phpunit>
