<phpunit
        bootstrap="./tests/php/bootstrap.php"
        colors="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="false"
        backupGlobals="true"
        backupStaticAttributes="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
        failOnWarning="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/php/Unit</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory suffix="Test.php">tests/php/Functional</directory>
        </testsuite>
    </testsuites>
</phpunit>
