# MUtkin test singlesite, PHP 8.1
# playwright-utils config
IGNORE_HTTPS_ERRORS=false
WP_BASE_URL='https://test.com'
WP_USERNAME=***
WP_PASSWORD=***
WP_BASIC_AUTH_USER=
WP_BASIC_AUTH_PASS=
STORAGE_STATE_PATH='./storage-states'
STORAGE_STATE_PATH_ADMIN='./storage-states/admin.json'

# WooCommerce API config
WC_API_KEY=
WC_API_SECRET=

# Mollie
MOLLIE_LIVE_API_KEY=
MOLLIE_TEST_API_KEY=
# Tested Mollie API method: order or payment (is applied by default)
MOLLIE_API_METHOD=payment # change to order for execution with Order API

# Testrail
TESTRAIL_URL=
TESTRAIL_USERNAME=
TESTRAIL_PASSWORD=
TESTRAIL_PLAN_ID=
TESTRAIL_RUN_ID=