.mollie-gateway-icon {
  vertical-align: bottom;
  max-height: 24px !important;
}
label .mollie-gateway-icon{
  float:right;
  max-height: 24px !important;
  margin-right: 5px;
}
.mollie-gateway-icon svg{
  float:right;
}
.mollie_custom_icon{
  padding:1em;
}
#mol-paypal-settings-icon{
  margin-left:1em;
}
#mol-icons-container{
  background:white;
}
.mol-responsive-table-3{
  display:flex;
  flex-wrap:wrap;
  background: white;
  padding: 10px;
}
.mol-responsive-table-3 > * {
  width:100%;
  padding-top: 8px;
}
@media (min-width:768px) {
  .mol-responsive-table-3 > * {
    width:calc(100% / 3);
  }
}

#radio-control-wc-payment-method-options-mollie_wc_gateway_creditcard__label .wc-block-components-payment-method-icons{
    margin:0 0 0 0;
}
