name: Continuous Integration

on: [push]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-versions: ['7.4', '8.0', '8.1', '8.2', '8.3']

    name: PHP ${{ matrix.php-versions }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: none
          tools: composer:v2

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: install dependencies
        run: composer update --prefer-dist --no-progress

      - name: dump autoload
        run: composer dump-autoload --dev --optimize --strict-psr

      - name: check syntax
        run: find src -name '*.php' | xargs -n 1 -P4 php -l

      - name: Run PHPUnit
        run: ./vendor/bin/phpunit

      - name: Run Psalm
        run: ./vendor/bin/psalm --show-info=false --threads=2

      - name: Run PhpCS
        run: ./vendor/bin/phpcs -n --parallel=2 --runtime-set ignore_warnings_on_exit 1
