name: Create release package
on:
  workflow_dispatch:
    inputs:
      PACKAGE_VERSION:
        description: 'Package Version'
        required: true
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  create_archive:
    uses: inpsyde/reusable-workflows/.github/workflows/build-and-distribute.yml@main
    with:
      PACKAGE_VERSION: ${{ inputs.PACKAGE_VERSION }}
      PHP_VERSION: 7.4
      PACKAGE_NAME: mollie-payments-for-woocommerce-${{ inputs.PACKAGE_VERSION }}
